body{
    color:#ddd;
    font-family: 'Roboto Condensed', sans-serif;
}
button{
    border:none;
    background-color:#999;
    color:#111;
    padding:5px 7px;
    font-weight:bold;
    cursor: pointer;
}
a{
    color:#09f;
    opacity:.7;
    text-decoration:none;
    border-bottom:1px solid #09f;
}
pre{
    background-color:#22222299;
    color:#aaa !important;
    display:block;
    position:relative;
}
pre > code{
    color:#999 !important;
    display:block;
    overflow-x:scroll;
    padding:10px;
    font-family: 'Roboto Condensed', sans-serif !important;
}
code{
    font-family: 'Roboto Condensed', sans-serif;
}
::-webkit-scrollbar{width:1px;height:1px;}
::-webkit-scrollbar-thumb{background-color:#09f;}
h2{
    color:#09f;
}
.shadow{
    box-shadow: 0 8px 6px -6px black;
}
.card{
    background-color:#111;
    color:#fff;
    margin:20px 0px;
    position:relative;
    border:1px solid #000;
}
.content-220499{
    position: absolute;
    top:0;right:0;
    background-color:#09f;
    color:#fff;
    border:none;
    font-size:9pt;
    box-shadow:-3px 3px 10px 1px #111;
}
.blue-button{
    background-color: #09f;
    color:#fff;
    outline:none !important;
}
input{
    outline:none !important;
    font-family: 'Roboto Condensed', sans-serif !important;
}
.pad-20{
    padding:20px;
}
.question-wrapper{
    background-color:#13141d;
    padding:20px;
}
.question-wrapper pre > code{
    background-color:#222;
}